<%- include("partials/header") %>

<div class="container-fluid">

<h1>Home</h1>

<% posts.forEach(post => { %>
	<h4><%= post.title %></h4>
	<p><%= post.content.slice(0, 50) %>&hellip;
	<a href="/posts/<%=post.slug%>">Read More</a>
	</p>
<% }); %>


</div>
<%- include("partials/footer") %>